@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base
{
    body {
        font-family: 'Montserrat', sans-serif;
    }

    h1,
    h2,
    h3 {
        font-family: 'Trirong', serif;
        
    }

    h1 {
        font-style: normal;
        font-weight: 600; /*Semi bold*/
    }

    h2 {
        font-style: normal;
        font-weight: 500;   
    }

}

.banner {
    @apply md:px-10 py-32 text-center;
}

.card {
    @apply bg-white rounded-xl overflow-hidden shadow-md;
}

.card-thumbnail {
    @apply object-cover object-center w-full h-full;
}

.card h1 {
    @apply text-mh3 md:text-dh1 py-2;
}

