@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base
{
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        
    }

    h1,
    h2,
    h3 {
        font-family: 'Trirong', serif;
        
    }

    h1 {
        font-style: normal;
        font-weight: 600; /*Semi bold*/
    }

    h2 {
        font-style: normal;
        font-weight: 500;   
    }
    ul, ol {
        list-style-type: disc;
      }

}

.banner {
    @apply pt-20 pb-28 px-4 text-center 
    md:px-10
    lg:px-[88px]
    lg:pt-32;
}

.banneroverlay {
    @apply bg-gray-900 bg-opacity-40 absolute inset-0;
}

.card {
    @apply flex flex-col mb-8 md:flex-row
    bg-white rounded-xl overflow-hidden shadow-md
    transition ease-in-out delay-150 transform hover:-translate-y-3 hover:scale-110;
}

.card-thumbnail {
    @apply object-cover object-center w-full h-full;
}

.card h1 {
    @apply text-mh1 md:text-dh1 py-2;
}

.card p {
    @apply text-base pb-2;
}

.card button {
    @apply bg-denim my-2 py-2 px-4 rounded-lg text-white;
}

.section-spacing {
    @apply flex h-fit py-7 px-4 justify-center
    md:px-10 
    lg:px-[88px];
}

/*see if this subsection spacing is applicable*/
.subsection-spacing {
    @apply py-4;
}

h1, h2, h3 {
    @apply py-3 ;
}

p {
    @apply md:text-mdparagraph;
}


ul {
    @apply py-3 pl-5 space-y-1
    md:text-mdparagraph;
}
