@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base
{
    body {
        font-family: 'Manrope', san-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Montserrat', sans-serif;
        
    }

    h1 {
        font-style: normal;
        font-weight: 600; /*Semi bold*/
    }

    h2 {
        font-style: normal;
        font-weight: 500;   
    }

}

.card {
    @apply bg-white rounded-xl overflow-hidden shadow-md;
}

.card-thumbnail {
    @apply object-cover object-center w-full h-full;
}

.banner {
    @apply 
    md:px-10 py-32 text-center;
}